::selection {
    color: rgb(0, 0, 0);
    background: rgba(0, 255, 251, 0.638);
}

body {
    background-color: #14151e;
    color: rgba(240, 248, 255, 0.875);
    margin-left: 1%;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1;
}
::-webkit-scrollbar{
    width: 0;
}
b{
    font-weight: 500;
}
.container {
    display: flex;
    flex-direction: column;
}

.left {
    margin-top: -50px;
    margin-left: 0.2vw;
}

.middle {
    position: absolute;
    left: 26.7vw;
    top: 0;
}

.last {
    position: absolute;
    left: 52.3vw;
    top: 0;
}

.right {
    height: 100vh;
    width: 22vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #222533;
    z-index: 2;
    border-radius: 15px;
}


.photo {
    width: 20vw;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 15px;
}

.category {
    font-size: 20px;
    margin-top: 0px;
}

.text {
    font-size: 45px;
}

.image {
    height: 100vh;
    margin-left: -20%;
    margin-top: -17%;
    transition-duration: 1s;
    position: fixed;
    z-index: -1;
}

.intro {
    font-size: 22px;
    margin-top: -40px;
    word-wrap: break-word;
    width: 23vw;
    line-height: 25px;
}

hr {
    background-color: #3c425c;
    border: 0;
    height: 1px;
    margin-top: -10px;
}

.glass {
    background-color: #232634a5;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    backdrop-filter: blur(4px);
    width: 23vw;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.languages {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.progress {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 30px;
    transition-duration: 1s;
    margin-top: -10px;
    border: 4px dashed rgba(0, 0, 0, 0);
    transform: rotate(-45deg);
}

.progress:hover {
    filter: hue-rotate(90deg);
}

.language {
    position: absolute;
    margin-left: 12px;
    margin-top: 18px;
    transform: rotate(45deg);
}

#python {
    border-bottom-color: rgb(161, 220, 0);
    border-right-color: rgb(56, 199, 0);
    border-left-color: rgb(201, 220, 0);
}

#html {
    border-bottom-color: rgba(255, 179, 0, 0.938);
    border-right-color: rgb(255, 94, 0);
    border-left-color: rgba(255, 213, 0, 0.727);
    border-top: 0px dashed rgba(242, 255, 0, 0.21);
}

#css {
    border-bottom-color: #0094d4;
    border-right-color: #264de4;
    border-left-color: #ebebeb;
}

#js {
    border-bottom-color: rgba(170, 150, 0, 0);
    border-right-color: rgb(255, 234, 0);
}

#c {
    border-right-color: rgb(0, 128, 255);
    border-bottom-color: rgb(195, 225, 255);
}

#markdown {
    border-bottom-color: rgb(127, 138, 255);
    border-right-color: cyan;
    border-left-color: rgb(168, 175, 248);
}

#mysql {
    border-bottom-color: #F29111;
    border-right-color: rgb(0, 117, 143);
    border-left-color: #ffb656;
}

/*===============footer=========================*/
.fimage {
    position: absolute;
    height: 100px;
    left: 50vw;
    bottom: -40px;
    opacity: 0.5;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 35vh;
    width: 22vw;
    background-color: #222533;
    text-align: right;
    z-index: 2;
    border-radius: 15px;
}

.social {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.social:hover {
    transform: scale(1.1);
}

#github {
    filter: invert(1);
}
.credits{
    display: none;
}

.contact{
    display: none;
}
form{
    position: absolute;
    top:5px;
    background-color: #14151e;
    padding: 15px;
    display: flex;
    flex-direction: column;
    right: 1vw;
    width: 18vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
input{
    margin: 0.3vw;
    height: 30px;
    background-color:#222533;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.5s;
}
input:hover{
    background-color:#17a68ad1;
    color: #000000;
}
.send{
    height: 30px;
    background-color:#005f6b;
    border: none;
    border-radius: 3px;
    width: 50px;
    align-self:self-end;
    margin: 0.3vw;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.5s;
}
.send:hover{
    background-color: #00bed7;
    color: #000000;
}

.graph {
    opacity: 1;
    transform: scale(0.6);
    filter: brightness(2);
    top: -15vh;
    left: 10vw;
    position: fixed;
    z-index: -1;
}

.icons {
    right: 8px;
    bottom: 8px;
    position: absolute;
}
#projects{
    margin-top: 30px;
}



#projects>a {
    transition-duration: 0.5s;
    font-size: 18px;
}

#projects>a:hover {
    transform: translateX(7px);
}

#type {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#symbol {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#skill {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 5px;
}

.python {
    background-color: #F29111;
}

.mysql {
    background-color: rgb(0, 117, 143);
}

.html {
    background-color: rgb(209, 94, 0);
}

.css {
    background-color: rgb(0, 112, 209);
}

.js {
    background-color: rgb(255, 225, 0);
}

.cpp {
    background-color: rgb(0, 123, 255);
}

.c {
    background-color: rgb(0, 101, 209);
}

.markdown {
    background-color: rgb(0, 0, 0);
}


.certificate {
    width: 21.5vw;
    margin-left: 1vw;
    transition-duration: 0.5s;
    filter: brightness(0.8);
    margin-top: 20px;
}

.certificate:hover {
    filter: brightness(1);
}

#move {
    margin-top: 10px;
    position: absolute;
    margin-left: -22.5vw;
}

#move:hover {
    transform: rotate(-4deg);
}

a {
    color: rgba(255, 255, 255, 0.94);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

/*=================================PROJECTS==============================*/
.heading {
    margin-top: 40px;
    text-align: center;
}

.items {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    text-align: right;
}

.ss {
    width: 27vw;
    border-radius: 15px;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    background: #1b1d29;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition-duration: 0.5s;
}

.btn:hover {
    color: #1b1d29;
    background: white;
}

.design-line {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 20vh;
}

#return {
    background: #222533;
    position: absolute;
    bottom: 3vw;
    left: 2vw;
}

#return:hover {
    background: white;
}

.bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.bgcerti {
    position: absolute;
    height: 50vh;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(270deg);
}


/*============================Side=====================*/
.smallicon {
    filter: invert(0.7);
    height: 20px;
    margin-left: 1vw;
    display: block;
    margin-right: 10px;
}

.normal {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.more{
    height: 30vh;
}
.align{
    width:21vw;
}
.vralign{
    display: flex;
    flex-direction: row;
}
.parts{
    display: flex;
    flex-direction: column;
}
.vr{
    width: 1px;
    height: 70vh;
    background:linear-gradient(#00000000,#00000000, #3c425c,#00000000,#00000000,#3c425c,#00000000);
    margin-right: 20px;
    margin-left: 4px;
}
#eduvr{
    height: 270px;
    width: 2px;
    background:linear-gradient(#00000000,#00000000, #3c425c,#00000000,#00000000,#3c425c,#00000000,#00000000,#3c425c,#00000000,#00000000);
}

/*======================================RESPONSIVE=======================================*/
@media screen and (max-width: 480px) {
    .photo {
        width: 35vw;
    }


    body {
        background-color: #000000;
        color: rgba(240, 248, 255, 0.875);
        overflow-x: hidden;
        overflow-y: scroll;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .container {
        overflow-x: hidden;
    }

    .image {
        top: 0px;
        left: -70px;
        overflow: hidden;
        max-width: 120vw;
        position: fixed;
    }

    .glass {
        width: 80vw;
        backdrop-filter: blur(9px);
}

    .middle {
        position: relative;
        left: 5vw;
    }

    .last {
        position: relative;
        left: 5vw;
        margin-bottom: 30px;
    }

    .right {
        background-color: #222533dc;
        backdrop-filter: blur(2px);
        position: relative;
        left: 5vw;
        width: 85vw;
        height: auto;
        padding: 8px;
        display: flex;
        flex-direction: row;
        font-size: 1.8vh;
    }
    .smallicon{
        height: 1.9vh;
    }

    .normal {
        font-size: 1.8vh;
    }

    .fimage {
        display: none;
    }


    .heading {
        margin-top: 40px;
        text-align: center;
    }

    .items {
        flex-direction: column;
        justify-content: center;
        margin-left: 2.5vw;
    }

    .items>.glass {
        width: 80vw;
    }

    .ss {
        width: 90vw;
        border-radius: 15px;
    }

    .design-line {
        display: none;
    }

    #return {
        position: relative;
        margin-top: 40px;
    }

    .bg {
        position: fixed;
    }
    .bgcerti {
        position: fixed;
    }
    #projects {
        margin-top: 44px;
        width: 80vw;
        margin-left: 5vw;
    }
    .left{
        margin-top: -20px;
    }
    .intro{
        margin-top: -20px;
    }

    .text,
    .intro {
        margin-left: 5vw;
        isolation: isolate;
        mix-blend-mode:difference;
        font-weight: 300;
    }

    .graph {
        display: none;
    }

    .certificate {
        margin-left: 3vw;
        width: 75vw;
        margin-top:20px;
    }

    #move {
        margin-top: 10px;
        position: absolute;
        margin-left: -77.5vw;
    }


    .languages{
        margin-left: -20px;
    }
    #skill{
        margin-top: 20px;
    }
    #type{
        margin-top: -7px;
    }
    #symbol{
        margin-top: 10px;
    }
    .text{
        font-size: 30px;
    }
    .intro{
        font-size: 15px;
        width: 90vw;
    }
    .certi{
        width: 90vw;
    }
    .contact{
        display: block;
    }
    footer {
        position:relative;
        height: 60vh;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        width: 100vw;
        background-color: #222533e1;
        backdrop-filter: blur(7px);
    }

    .icons {
        position: relative;
        margin-top: 37vh;
    }

    form{
        width: 80vw;
        left:7vw;
        margin-top:55px;
    }
    input{
        margin: 1vw;
        background-color: #000000;
    }
    .send{
        margin: 1vw;
    }
    .credits{
        display: block;
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
    }
    .align{
        width:74vw;
    }
    .table{
        margin-left: 5vw;
    }
}
